@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Josefin+Sans:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;400;500;600;700&family=Prompt:wght@400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');
@import '../../components/SCSS/vars';



.Home {
    padding: 30px;

    .PopularCards {
        margin: 100px 0 70px 0;

        .container {
            max-width: 1440px;
            margin: auto;
        }

        @media(max-width:1440px) {
            .container {
                width: 100%;
            }
        }

        .PopularCardsBox {
            max-width: 91.667%;
            margin: 0 auto;
        }

        .PopularCardsTitle {
            display: flex;
            justify-content: space-between;
            align-items: center;



            h2 {
                font-family: $fontPoppins;
                font-weight: 600;
                font-size: 32px;
                color: #000;
            }

            .moreCards {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 13%;

                button {
                    border: none;
                    font-family: $fontPoppins;
                    font-weight: 400;
                    font-size: 18px;
                    color: #000000;
                }
            }
        }
    }

    .advertising {

        margin: 100px 0 100px;

        .container {
            max-width: 1440px;
            margin: auto;
        }

        @media(max-width:1440px) {
            .container {
                width: 100%;
            }
        }


        .advertisingbox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 91.667%;
            margin: 0 auto;

            .LeftAdvertising {
                height: 200px;
                width: 49%;
                background-color: #E00038;
            }

            .RightAdvertising {
                width: 49%;
                height: 200px;
                background-color: #E00038;
            }
        }
    }

    .PopularCategories {


        .container {
            max-width: 1440px;
            margin: auto;
        }

        @media(max-width:1440px) {
            .container {
                width: 100%;
            }
        }

        .PopularCategoriesBox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            max-width: 91.667%;
            margin: 0 auto;

            .PopularCategoriesCard {
                flex: 0 1 20%;
                text-align: center;
                -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
                -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
                box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
                cursor: pointer;
                padding-bottom: 30px;


                h2 {
                    font-family: $fontPoppins;
                    color: #000;
                    font-weight: 400;
                    font-size: 25px;
                    margin-top: 15px;
                }
            }
        }

    }

}