footer {
    height: 20vh;
    background-color: #262626;
}

.container {
    width: 1440px;
    margin: 0 auto;
    height: 100%;

}

@media (max-width:1440px) {
    .container {
        width: 100%;
    }
}


.lower_area {
    max-width: 91.667%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.footerTitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 40px;
}

.footer_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.footer_item {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #fff;
}



.footer_icons {
    width: 160px;
    display: flex;
    justify-content: space-between;
    object-fit: cover;
    cursor: pointer;
}