.swiper {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

.AdwertisingSwiper {
    width: 91.667%;
    height: 55vh;
    margin: 0 auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

@media(max-width:1440px) {
    .container {
        width: 100%;
    }
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}