.modal_login {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.form {
	display: flex;
	padding: 48px 32px;
	flex-direction: column;
	gap: 12px;

	background: var(--main-white, #fff);

	& h1 {
		color: var(--main-black, #000);

		/* header/H2 */
		font-family: Poppins;
		font-size: 32px;
		font-style: normal;
		font-weight: 600;
	}

	& h3 {
		color: var(--main-black, #000);

		/* text/large regular */
		font-family: Poppins;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
	}

	& .input_username {
		margin-top: 32px;
	}

	& .input_email {
		margin-top: 32px;
	}

	& .password1 {
		margin-top: 32px;
	}

	& .password2 {
		margin-top: 32px;
	}

	& .checkbox_block {
		display: flex;
		flex-direction: column;
		margin-top: 27px;
		gap: 12px;

		& .checkbox1 {
			display: flex;
			gap: 8px;

			& p {
				color: var(--main-black, #000);
				/* text/medium regular */
				font-family: Poppins;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 130%;
				/* 18.2px */
			}

			& span {
				color: var(--main-black, #000);

				/* text/large semibold */
				font-family: Poppins;
				font-size: 14px;
				font-style: normal;
				font-weight: 600;
				line-height: 130%;
			}
		}

		& .checkbox2 {
			display: flex;
			gap: 8px;

			& p {
				color: var(--main-black, #000);
				/* text/medium regular */
				font-family: Poppins;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 130%;
				/* 18.2px */
			}
		}
	}

	& .registr {
		display: flex;
		padding: 17px 16px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		align-self: stretch;
		margin-top: 35px;

		border-radius: 8px;
		background: var(--main-red, #e00038);

		color: #fff;

		/* header/H4 */
		font-family: Poppins;
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
		line-height: 130%;
		/* 26px */
	}

	& .another_way_enter {
		position: relative;
		width: 100%;
		text-align: center;
		margin-bottom: 16px;
	}
}

.another_way_enter::before {
	content: '';
	position: absolute;
	top: 9px;
	left: 0;
	width: 55px;
	height: 1px;
	background-color: #000;
}

.another_way_enter::after {
	content: '';
	position: absolute;
	top: 8px;
	right: 0;
	width: 55px;
	height: 1px;
	background-color: #000;
}

.social_network {
	display: flex;
	width: 100%;
	justify-content: space-between;

	& .social_block {
		display: flex;
		padding: 12px 24px;
		margin-bottom: 32px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		flex: 1 0 0;

		border-radius: 10px;
		border: 1px solid var(--main-gray, #ccc);
		background: var(--main-white, #fff);
	}
}

.login_again {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;

	& p {
		color: var(--main-black, #000);

		/* text/medium regular */
		font-family: Poppins;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 130%;
		/* 18.2px */
	}

	& .login_text {
		color: var(--main-black, #000);

		/* text/medium semibold */
		font-family: Poppins;
		font-size: 14px;
		margin-left: 8px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}
}